# Treat all files as text files with Unix-style line endings and UTF-8 encoding by default.
* text eol=lf encoding=utf-8

# Treat .bat files as text files with Windows-style line endings and UTF-8 encoding.
*.bat text eol=crlf encoding=utf-8

# Treat .cmd files as text files with Windows-style line endings and UTF-8 encoding.
*.cmd text eol=crlf encoding=utf-8

# Treat .cmd files as text files with Windows-style line endings and UTF-8 encoding.
*.ini text eol=crlf encoding=utf-8

# Handle .so files with Git LFS.
*.so filter=lfs diff=lfs merge=lfs -text

# Handle .dll files with Git LFS.
*.dll filter=lfs diff=lfs merge=lfs -text

# Handle .dylib files with Git LFS.
*.dylib filter=lfs diff=lfs merge=lfs -text
