# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint
on:
  workflow_call:
    secrets:
      github-token:
        required: true
        description: |
          The token to use for making authenticated requests to the GitHub API.
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{secrets.GITHUB_TOKEN || secrets.github-token}}
      - id: setup-dotnet
        name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: |
            */packages.lock.json
            packages/*/packages.lock.json
            tests/*/packages.lock.json
      - id: restore-dependencies
        name: Restore dependencies
        run: dotnet restore
      - id: lint
        name: Lint
        run: dotnet format --no-restore --verify-no-changes
