# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: On Push
on:
  push:
jobs:
  lint:
    name: Lint
    permissions:
      # -- To clone repository
      contents: read
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
    uses: ./.github/workflows/lint.yaml
  build:
    name: Build
    permissions:
      # -- To clone repository
      contents: read
    strategy:
      fail-fast: false
      matrix:
        build-os:
          - windows
          - linux
          - macos
        build-config:
          - debug
          - release
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
    uses: ./.github/workflows/build.yaml
    with:
      project: Glekcraft
      build-os: ${{matrix.build-os}}
      build-config: ${{matrix.build-config}}
  test:
    name: Test
    permissions:
      # -- To clone repository
      contents: read
    strategy:
      fail-fast: false
      matrix:
        build-os:
          - windows
          - linux
          - macos
        build-config:
          - debug
          - release
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
      reportgenerator-license: ${{secrets.REPORTGENERATOR_LICENSE}}
    uses: ./.github/workflows/test.yaml
    with:
      build-os: ${{matrix.build-os}}
      build-config: ${{matrix.build-config}}
      upload-artifacts: ${{matrix.build-config == 'debug' && matrix.build-os == 'windows'}}
